<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container" *ngIf="!authResponse.mfaEnabled">
<div class="container mt-5">
    <div class="row justify-content-center ">
        <div class="col-md-6">
          <div class="alert alert-success mt-5 mb-4"  *ngIf="message" role="alert">
          <div class="success-icon">&#10004; {{message}}</div>
          </div>
          <div class="card">
              <div class="card-header">
                  <h4>Registration Form</h4>
              </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="firstName" class="form-label" >First Name</label>
                <input type="text" class="form-control"  [(ngModel)]="registerRequest.firstname" name="firstName" required>
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control"  [(ngModel)]="registerRequest.lastname" name="lastname" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control"  [(ngModel)]="registerRequest.email" name="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control"  [(ngModel)]="registerRequest.password" name="password" required>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input"  [(ngModel)]="registerRequest.mfaEnabled" name="mfaEnabled" checked>
                <label class="form-check-label">Enable Two-Factor Authentication</label>
              </div>
              <button type="submit" class="btn btn-primary" (click)="registerUser()">Register</button> <label class="form-check-label ml-3" for="termsCheck">  Already Have an account?</label><a routerLink="/login">  Login</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="authResponse.mfaEnabled">
  <div class="container mt-3">
    <div class="row justify-content-center ">
        <div class="col-md-6">
  <div class="alert alert-success mt-5 mb-4"   *ngIf="message" role="alert">
    <div class="success-icon">&#10004;{{message}}</div>
  </div>
  <div class="card">
      <div class="card-header">
       <h4>Set Up Two-Factor Authentication</h4>
       </div>
       <div class="card-body d-flex flex-column align-items-center">
        
          <div class="qr-code m-3 ">
              <img [src]="authResponse.secretImageUri" alt="QR Code">
          </div>
           <div class="form-group">
            <div *ngIf="errorMessage2" class="alert alert-danger  ml-3 mb-2">
              &#10008;{{ errorMessage2 }}
            </div>
             <label for="validationCode" class="form-check-label m-2 ml-3">Enter 6 digits Validation Code Generated by the app</label>
               <input type="text" id="validationCode"class="form-control col-md-5 m-3 " required [(ngModel)]="otpCode">
              <button type="button"  class="btn btn-primary ml-3 mb-3" (click)="verifyTfa()" [class.button-disabled]="otpCode.length < 6">Verify code</button>
            </div>
            </div>
          </div>
        </div>
    </div>
</div>
